// default
$color-default--white: #fff;
$color-default--black: #000;

// bg
$color-bg-main-theme-1: #e54a21;
$color-bg-main-theme-1-hover: #e8480a;
$color-bg--additional--blue: #1351bc;
$color-bg--secondary: #373737;

// text
$color-text-primary: #222;
$color-text-secondary: #fff;
$color-text-third: #292929;
$color-text-main-theme-1: #e54a21;

// border
$color-border--primary: #e1e1e1;
$color-border-main-theme-1: #f95f48;
